<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form method="post" action="/auth/register/">

        {% csrf_token %}
        
        <label for="name">Name :</label>
        <input type="text" id="name" name="name" placeholder="Enter your name" required>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>

        <label for="user_name">UserName:</label>
        <input type="text" id="user_name" name="user_name" placeholder="Enter your username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Create a password" required>
        
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
        
        <button type="submit">Register</button>
    </form>
</body>
</html>
